# Data Science Tools and Ecosystem

Image:![2-title.png](/Users/leana/Desktop/2-title.png)

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python 
2. JavaScript
3. C++

| Data Science Tools |
|------------------|
| Jupyter Notebook |
| Github |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
def mult_add(x,y,z):
    formula = (x*y)+z
    return formula
mult_add(3,4,5)

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

def convert_min_to_hours(minute):
    formula = minute/60
    return formula
convert_min_to_hours(200)

3.3333333333333335

## Author

Leana